In [1]:
import name of module

SyntaxError: invalid syntax (<ipython-input-1-0d25f86c1400>, line 1)

In [2]:
import name of module

SyntaxError: invalid syntax (<ipython-input-2-0d25f86c1400>, line 1)

In [3]:
import math

In [4]:
math.sqrt(25)

5.0

In [5]:
math.pi

3.141592653589793

In [6]:
import math as mt

In [7]:
mt.sqrt(25)

5.0

In [8]:
from numpy import random

In [9]:
import numpy as np

In [10]:
# uniform random numbers in [0,1]
dataOne = random.rand(5,5)

In [11]:
dataOne

array([[0.62515876, 0.57444044, 0.87851273, 0.71387697, 0.27996704],
       [0.9310261 , 0.89590996, 0.92275716, 0.20999413, 0.9135477 ],
       [0.59332517, 0.12366731, 0.67255042, 0.45484176, 0.74667269],
       [0.02768488, 0.18937785, 0.66077185, 0.56130826, 0.12794905],
       [0.00420646, 0.06576728, 0.26292291, 0.4762737 , 0.3462084 ]])

In [12]:
np.mean(dataOne)

0.49034875923909427

In [13]:
print('I Love data Science')

I Love data Science

In [14]:
variableName = 25

In [22]:
print(variableName)

25

In [16]:
print(variableName)

25

In [17]:
variableName = 25

In [18]:
type(variableName)

int

In [19]:
varOne = 25

varTwo = 25.0

varThree = varOne + varTwo

print(varThree)

50.0

In [21]:
varOne = 25

varTwo = 5

varThree = varOne + varTwo

print(varThree)

30

In [23]:
listName = [ ]

#Here is a real example:

listOne = [1,2,3,4]

#The numbers in the brackets are called elements. Each element can be of any type and can be referenced by their index (just like we did in R). Here is an example:

print(listOne[1:3])

[2, 3]

In [ ]:
tel = {'jack': 4098, 'sape': 4139}