import name of module

In [2]:
import name of module

SyntaxError: invalid syntax (<ipython-input-2-0d25f86c1400>, line 1)

In [3]:
import math

In [4]:
math.sqrt(25)

5.0

In [5]:
math.pi

3.141592653589793

In [6]:
import math as mt

In [7]:
mt.sqrt(25)

5.0

In [8]:
from numpy import random

# import numpy as np

# uniform random numbers in [0,1]
dataOne = random.rand(5,5)

In [11]:
dataOne

array([[0.62515876, 0.57444044, 0.87851273, 0.71387697, 0.27996704],
       [0.9310261 , 0.89590996, 0.92275716, 0.20999413, 0.9135477 ],
       [0.59332517, 0.12366731, 0.67255042, 0.45484176, 0.74667269],
       [0.02768488, 0.18937785, 0.66077185, 0.56130826, 0.12794905],
       [0.00420646, 0.06576728, 0.26292291, 0.4762737 , 0.3462084 ]])

In [12]:
np.mean(dataOne)

0.49034875923909427

In [13]:
print('I Love data Science')

I Love data Science

In [14]:
variableName = 25

In [22]:
print(variableName)

25

In [16]:
print(variableName)

25

In [17]:
variableName = 25

In [18]:
type(variableName)

int

In [19]:
varOne = 25

varTwo = 25.0

varThree = varOne + varTwo

print(varThree)

50.0

In [21]:
varOne = 25

varTwo = 5

varThree = varOne + varTwo

print(varThree)

30

In [23]:
listName = [ ]

#Here is a real example:

listOne = [1,2,3,4]

#The numbers in the brackets are called elements. Each element can be of any type and can be referenced by their index (just like we did in R). Here is an example:

print(listOne[1:3])

[2, 3]

In [24]:
tel = {'jack': 4098, 'sape': 4139}
tel['jack']

4098

In [5]:
import pandas as pd

In [6]:
trainingData = pd.io.parsers.read_csv("/Users/soporte/Documents/GitHub/Data_Analytics-Big_Data/trainingData.csv")

In [7]:
trainingData

,WAP001,WAP002,WAP003,WAP004,WAP005,WAP006,WAP007,WAP008,WAP009,WAP010,...,WAP520,LONGITUDE,LATITUDE,FLOOR,BUILDINGID,SPACEID,RELATIVEPOSITION,USERID,PHONEID,TIMESTAMP
0,100,100,100,100,100,100,100,100,100,100,...,100,-7541.2643,4.864921e+06,2,1,106,2,2,23,1371713733
1,100,100,100,100,100,100,100,100,100,100,...,100,-7536.6212,4.864934e+06,2,1,106,2,2,23,1371713691
2,100,100,100,100,100,100,100,-97,100,100,...,100,-7519.1524,4.864950e+06,2,1,103,2,2,23,1371714095
3,100,100,100,100,100,100,100,100,100,100,...,100,-7524.5704,4.864934e+06,2,1,102,2,2,23,1371713807
4,100,100,100,100,100,100,100,100,100,100,...,100,-7632.1436,4.864982e+06,0,0,122,2,11,13,1369909710
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19932,100,100,100,100,100,100,100,100,100,100,...,100,-7485.4686,4.864875e+06,3,1,1,2,18,10,1371710683
19933,100,100,100,100,100,100,100,100,100,100,...,100,-7390.6206,4.864836e+06,1,2,140,2,18,10,1371710402
19934,100,100,100,100,100,100,100,100,100,100,...,100,-7516.8415,4.864889e+06,3,1,13,2,18,10,1371710921
19935,100,100,100,100,100,100,100,100,100,100,...,100,-7537.3219,4.864896e+06,3,1,113,2,18,10,1371711049
19936,100,100,100,100,100,100,100,100,100,100,...,100,-7536.1658,4.864898e+06,3,1,112,2,18,10,1371711025

In [8]:
## ¿Fue sencillo instalar Python y todas las bibliotecas?

In [9]:
#¿Fue sencillo instalar Python y todas las bibliotecas?

#¿Fue sencillo instalar Python y todas las bibliotecas?

## ¿Fue sencillo instalar Python y todas las bibliotecas?

# Es sencillo instalar Pyton desde terminal macos y cada una de las bibliotecas

# ¿Fue útil el tutorial? ¿Lo recomendaría a otros?

# El tutorial es completo y es recomendable para un inicio rapido!

# ¿Cuáles son las principales lecciones que has aprendido de esta experiencia?

### Es una herramienta muy facil y practica de utilizar!